/*END  GENARAL */

:root {
    --font-16: 16px;
    --font-13: 13px;
    --font-20: 20px;
    --font-26: 26px;
    --font-42: 42px;
    --wed-yellow: #e2a22a;
    --text-color-yellow: #e2a22a;
    --text-color-yellow-light: #fff7e9;
    --color-content: #6b6b6b;
    --color-title: #000000;
    --color-content-phu: #aaaaaa;
    --color-white: white;
}

html {}

body {
    margin: auto;
    min-width: 366px;
}

.container {
    min-width: 366px;
}

a, a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
    margin-bottom: 0;
}

ul, li {
    list-style: none;
}

/*END  GENARAL */

/* MAIN */

main {}

.catalog {
    background-image: url(../public/img/bgcatalog1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 383px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-wp {
    width: 100%;
    height: 100%;
}

.catalog-ct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.catalog-ct h1 {
    font-size: 32px;
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px 3px #e2a22a;
}

.catalog-ct span a, .catalog-ct span {
    color: white;
    font-size: var(--font-16);
    font-weight: 600;
}
.catalog-ct span a:hover {
    color: var(--text-color-yellow);
}
.catalog-ct span>span {
    color: var(--text-color-yellow);
}

.slogan {
    height: 90px;
    background-color: var(--wed-yellow);
    display: flex;
    align-items: center;
}

.sloitem-wp {
    display: flex;
    align-items: center;
}

.sloi-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.sloi-text span {
    color: white;
    font-weight: 700;
    font-size: var(--font-16);
}

.sloi-text span.slit-cap {
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.sloi-text span.slit-num {
    font-size: 20px;
}
.sloi-text span.slit-num a{
    color: white;
}
.sloitem1 {
    justify-content: flex-start;
}

.sloitem2 {
    justify-content: center;
}

.sloitem3 {
    justify-content: flex-end;
}

.contactus-map {
    padding-top: 40px;
}

.ctum-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctum-text span {
    font-size: 27px;
    color: black;
    padding-bottom: 35px;
}

.ctum-text span>span {
    color: var(--text-color-yellow);
}

.map-contact__wapper {
    border: 3px solid var(--wed-yellow);
    height: 245px;
}

.contactus-info {
    margin-top: 40px;
}

.ctui-wp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ctui-wp a, .ctui-wp span {
    font-size: 18px;
    color: black;
    padding-top: 15px;
    font-weight: 600;
}

.ctuis-wp {
    display: flex;
    flex-direction: column;
}

.ctuis-wp span:nth-child(2) {
    padding-top: 0;
}

.ctuis-wp span a {
    color: black;
}

.ctui-wp.ctuifb img:hover {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}

.ctui-wp.ctuip img:hover {
    -webkit-animation: shake 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.ctui-wp.ctuim img:hover {
    -webkit-animation: rotate-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.contactus-text {
    padding: 50px 0 30px 0;
}

.contactus-text h3 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 40px;
}

.contactus-text .contact-text__wp {
    border: 1px solid #999999;
    padding: 8px 5px;
    display: flex;
    align-items: center;
}

.contactus-text .contact-text__wp span {
    color: #999999;
    font-size: var(--font-16);
    font-style: italic;
}

.contactus-text .contact-text__wp input {
    border: none;
    outline: none;
    width: 70%;
    padding: 0 0 0 10px;
}

.contactus-text .contact-text__wp input[type="text"] {
    font-size: var(--font-16);
    text-transform: unset;
    font-weight: 600;
}

.contactus-text textarea {
    margin-top: 20px;
    width: 100%;
    min-height: 293px;
    outline: none;
    padding: 10px;
    font-size: var(--font-16);
}

.contactus-text textarea::placeholder {
    color: #999999;
    font-size: var(--font-16);
    font-style: italic;
}

.contactus-text .btn {
    outline: none;
    color: white;
    background-color: var(--wed-yellow);
    border: 1px solid var(--wed-yellow);
    border-radius: 10px;
    padding: 5px 20px;
    margin-top: 20px;
    font-weight: 600;
    transition: .4s all;
}

.contactus-text .btn:hover {
    background-color: #a293fc;
    border: 1px solid #fe75c5;
}

/* END MAIN */
/* RESPONSIVE */
@media (max-width:576px) {
    .catalog{
        height: 200px;
    }
    .slogan{
        display: none;
    }
    .contactus-map {
        padding-top: 20px;
    }
    .contactus-info {
        margin-top: 20px;
    }
    .contactus-text {
        padding: 30px 0 20px 0;
    }
    .contactus-text h3 {
        margin-bottom: 20px;
    }
    .ctum-text span{
        margin-bottom: 0;
        padding-bottom: 15px;
    }
    .contactus-text .contact-text__wp{
        margin: 20px 0 ;
    }
    .contactus-info .contact-info__wapper {
        margin-bottom: 20px;
    }
}
@media (min-width:577px ) and ( max-width:767px){
    .catalog{
        height: 250px;
    }
    .slogan{
        display: none;
    }
    .contactus-text .contact-text__wp{
        margin: 20px 0 ;
    }
    .contactus-info .contact-info__wapper {
        margin-bottom: 20px;
    }
}
@media (min-width:768px ) and ( max-width:991px){
    .catalog{
        height: 250px;
    }
    .contactus-text .contact-text__wp{
        margin: 20px 0 !important;
    }
    .contactus-info .contact-info__wapper {
        margin-bottom: 20px !important;
    }
}
/* END RESPONSIVE */
/* ANIMATION */

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@-webkit-keyframes rotate-top {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

@keyframes rotate-top {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}