.p-newdetail .container{
    max-width: 50% !important;
}
.catalog {
    background-image: url(../public/img/bgcatalog4.png);
}
.p-newdetail{
    padding: 50px 0;
}
.newd-title{
    padding-bottom: 50px;
}
.newdt-wp>span{
    display: block;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 15px;
}
.ndt-wp{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.ndt-wp time{
    font-size: 16px;
    font-style: italic;
    color: #888888;
}
.ndt-wp time>span{
    white-space: nowrap;
}
.newd-content{
    padding-bottom: 50px;
}
.newd-content p{
    font-size: 16px;
}
.ndcstep span{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 30px;
    display: block;
}
.ndcimg img{
    width: 100%;
    height: auto;
}
.author{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.author span{
    font-size: 16px;
    font-style: italic;
    color: #888888;
}
.likeandcmt {
    min-width: 186px;
    display: flex;
    justify-content: flex-end;
}
.likeandcmt span{
    font-size: 14px;
    display: inline-block;
    padding: 1px 6px;
    background-color: var(--wed-yellow);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.likeandcmt span:nth-child(1){
    margin-right: 5px;
}
.ndt-title{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.ndt-wp.ntdbot{
    position: relative;
    margin-bottom: 50px;
}
.ndts-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
}
.ndt-wp.ntdbot::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #f0ce8e;
    bottom: -12px;
    left: 0;
}
.ntdstext{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
}
.ntdstext span{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
    display: block;
}
.ntdstext p{
    font-size: 14px;
    margin-bottom: 0;
}
hr.divider{
    background-color: #949494;
}
.ndtmcm{
    display: flex;
    flex-direction: column;
}
.ndtmcm span{
    font-size: 16px;
    font-weight: 600;
    display: block;
    padding-top: 25px; 
    padding-bottom: 25px;
}
.ndtmcm input, .ndtmcm textarea {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: none;
    border-width: 1px;
    border-color: #949494;
}
.ndtmcm textarea {
    min-height: 175px;
}
::placeholder{
    color: #949494;
    font-style: italic;
    font-size: 16px;
}
.ndtmcm a{
    outline: none;
    color: white;
    background-color: var(--wed-yellow);
    border: 1px solid var(--wed-yellow);
    border-radius: 10px;
    padding: 5px 20px;
    font-weight: 600;
    transition: .4s all;
    font-size: 20px;
}
.ndtmcm a:hover{
    background-color: #a293fc;
    border: 1px solid #fe75c5;
}